/* This page controls header appearance */
header {
  background-image: url("/images/checkered-pattern.png");
  background-color:  rgb(166, 232, 242);
}

/* mobile appearance */
@media only screen and (max-width: 1024px) {
  header {
    grid-area: 2/1/3/5;
  }  
}

/* desktop appearance */
@media only screen and (min-width: 1024px) {
  header {
    position: fixed;
    margin-top: 200px;
    left: calc(20% - 150px);
    height: 300px;
    width: 300px;
  }
}
