/* position modifiers */

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.clear {
  clear: both;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.marginTop10 {
  margin-top: 10px;
}

.textCenter {
  text-align: center;
}

/* text modifiers */

.boldText {
  font-weight: bold;
}

.font24 {
  font-size: 24px;
}

.font36 {
  font-size: 36px;
}

.fontBungee {
  font-family: "Bungee";
}

.hoverText {
  color: #fafbfe;
}
