/* Global layout stuff */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: normal;
}

/* body */

body {
  background-color: rgb(255, 255, 255);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  color: #545149;
}

.bodyWrapper {
  display: grid;
  grid-template-columns: 5% 35% 55% 5%;
  grid-template-rows: 80px 300px 1fr;
}

/* Main */

@media only screen and (max-width: 1024px) {
  main {
    grid-area: 3/2/4/4;
  }
}

@media only screen and (min-width: 1024px) {
  main {
    grid-area: 2/3/4/4;
  }
}

/* Misc. */

hr {
  margin: 0.2em 0.2em;
  border-bottom: 2px solid rgb(12, 4, 67);
  display: block;
}

hr2 {
  margin: 0.2em 0.2em;
  border-top: 1px solid rgb(192, 220, 252);
  display: block;
}
