/* Nav */

nav {
  position: fixed;
  height: 80px;
  width: 100%;
  z-index: 100;
  background-color: #4056A1;
  /* font */
  color: #FFFFFF;
  text-shadow: 2px 2px black;
}

.navWrapper {
  display: grid;
  grid-template-columns: 40px 175px 1fr 150px 40px;
  grid-template-rows: 30px 5px 20px 15px 10px;
}

/* Nav inner contents */

.navA {
  grid-area: 2/2/5/3;
}

.navB {
  grid-area: 2/4/4/5;
}

.navC {
  grid-area: 4/4/6/5;
}

#arrow {
  position: relative;
  height: 10px;
  width: 10px;
  border: solid red;
  border-width: 0 3px 3px 0;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* Nav inner contents behavior */

.navB:hover {
  color: gold;
  transition-duration: 1s;
}

.navB:active {
  position: relative;
  left: 2px;
  top: 2px;
  text-shadow: none;
}

.navB:hover ~ .navC i {
  animation: move 0.8s infinite;
}

@keyframes move {
  from {top: 0px;}
  70% {top: 8.6px;}
  80% {top: 9.4px;}
  90% {top: 9.8px;}
  to {top: 10px;}
}
