/* New-tweet contents */

textArea {
  border: none;
  outline: none;
  resize: none;
  height: 31px;
  width: 100%;
  background: none;
  overflow: hidden;
}

.tweetButton {
  border: none;
  height: 40px;
  width: 100px;
  background-color: rgb(12, 4, 67);
  color: #FFFFFF;
}

.warning {
  border: solid 2px red;
  height: 30px;
  width: 100%;
  display: none;
}

.warningShow {
  display: block;
}