.new-tweet-collapse {
  background-color: red;
  animation: new-tweet-collapse;
}

@keyframes new-tweet-collapse {
  from {top: 0px;}
  70% {top: 43px;}
  80% {top: 47px;}
  90% {top: 49px;}
  to {top: 50px;}
}

textArea {
  border: none;
  outline: none;
  resize: none;
  height: 31px;
  width: 100%;
  background: none;
  overflow: hidden;
}

.tweetButton {
  border: none;
  height: 40px;
  width: 100px;
  background-color: rgb(12, 4, 67);
  color: #FFFFFF;
}