article {
  margin: 10px;
  width: 100%;
  border-style: solid;
  border-width: 4px;
  border-color: rgb(192, 220, 252);
  word-wrap: break-word;
}

article:hover {
  border-color: #4056A1;
}

article:hover .hoverText {
  color: #545149;
}

.wrapperNewTweet {
  display: grid;
  grid-template-columns: 70px 1fr 1fr;
  grid-template-rows: repeat(3, 23px);
}

.d {
  grid-area: 1/1/4/2;
}

.e {
  grid-area: 2/2/2/3;
}

.f {
  grid-area: 2/3/2/4;
}